<div class="grayBG">
    <div class="container myFeature">
        <div class="row">
            <div class="titleProject"> Project & Works</div>
            <hr/>
        </div>

        <!--/Project 1 start -->
        <div class="row">
            <div class="col-lg-6">
                <img src="img/rezBeshtoLogo.png" class="my-img img-circle pull-right">
            </div>
            <div class="col-lg-6">
                <div class="featureBtn">
                    <div class="btn-danger btn-circle btn-lg">
                        <div class="projectCount">Project | 1</div>
                    </div>
                    <hr/>
                    <h1><a href="http://www.beshto.com/">Beshto</a></h1>

                    <div class="clearfix">&nbsp;</div>
                    <p>
                        This is a social network designed for Bangladeshi people. It allows user to communicate with
                        each other, discuss different topic. It also has a Question and Answer section where user can
                        ask question and other user give answer. Groovy and Grails used for this project with Spring
                        security support. Database for this project is mySql. SpringSource tool Suit is used as IDE,
                        Ubuntu used as developing environment, Apache tomcat is the application server. I work as a
                        member of the development team. My main job was to right business logic of this application in
                        groovy. I have also worked on js and css and i got chance to work on amazon ec-2 for managing
                        our server side components.
                    </p>
                </div>
            </div>
        </div>
        <hr/>
        <!--/Project 1 end -->


        <!--/Project 2 start -->
        <div class="row">
            <div class="col-lg-6">
                <img src="img/ebajar.png" class="my-img img-circle pull-right">
            </div>
            <div class="col-lg-6">
                <div class="featureBtn">
                    <div class="btn-danger btn-circle btn-lg">
                        <div class="projectCount">Project | 2</div>
                    </div>
                    <hr/>
                    <h1><a href="http://www.ebajar.com/"> Ebajar </a></h1>

                    <div class="clearfix">&nbsp;</div>
                    <p>
                        This is one of the product of Springine. This is a java application with spring framework. All
                        the configuration associated with this site has been done by me. E.g. Configuring Spring
                        Framework, Site mesh, Bootstrap, Maven, MySQL, Hibernate, JDBC connection, tomcat 7 server,
                        configuring amazon web service, setting up the domain (from yahoo.com) for proper redirection,
                        managing github. This is a best deal type application. User can find best deal for their desired
                        product, add there product in the wish list or send the wish list to their friends. User also
                        gets coupon based on their choice of products in their wish list.
                    </p>
                </div>
            </div>
        </div>
        <hr/>
        <!--/Project 2 end -->


        <!--/Project 3 start -->
        <div class="row">
            <div class="col-lg-6">
                <img src="img/rezSpringineLogo.png" class="my-img img-circle pull-right">
            </div>
            <div class="col-lg-6">
                <div class="featureBtn">
                    <div class="btn-danger btn-circle btn-lg">
                        <div class="projectCount">Project | 3</div>
                    </div>
                    <hr/>
                    <h1><a href="http://www.springine.com/"> Springine </a></h1>

                    <div class="clearfix">&nbsp;</div>
                    <p>
                        This is the company website for Springine. This is also a java application with spring
                        framework. All the configuration associated with this site has been done by me. The
                        configuration are pretty same as ebajar.com site. On the foreground the site provides
                        information about the company. Back end is for the employee and project management system where
                        it is able to keep track of what employee of this company are doing in terms of different
                        project they are working on. It also keeps track of all the project.
                    </p>
                </div>
            </div>
        </div>
        <hr/>
        <!--/Project 3 end -->


        <!--/Project 4 start -->
        <div class="row">
            <div class="col-lg-6">
                <img src="img/android-logo.jpg" class="my-img img-circle pull-right">
            </div>
            <div class="col-lg-6">
                <div class="featureBtn">
                    <div class="btn-danger btn-circle btn-lg">
                        <div class="projectCount">Project | 4</div>
                    </div>
                    <hr/>
                    <h1><a href="https://play.google.com/store/apps/developer?id=LynAs"> <span class="ahead">Android works</span>
                    </a></h1>

                    <div class="clearfix">&nbsp;</div>
                    <p>
                        These are my solo work on Android platform. Application description is available in the
                        given link. Eclipse is used as IDE, development environment Windows 7.
                        I have also worked on a project called “Beshto Talkie” while I worked at iPaholics.
                    </p>
                </div>
            </div>
        </div>
        <hr/>
    </div>
</div>


