<div class="grayBG">
    <div class="container myFeature">
        <div class="row">
            <div class="col-lg-6">
                <img src="img/01.jpg" class="my-img img-circle pull-right">
            </div>
            <div class="col-lg-6">
                <div class="featureBtn">
                    <h1>Hello</h1>
                    <h5>a bit about me:</h5>

                    <a href ng-click="tab = 'exp'" class="btn btn-danger btn-circle btn-lg">
                        <div class="projectCount">MY EXPERIENCE</div>
                    </a>
                    <a href ng-click="tab = 'proj'" class="btn btn-info btn-circle btn-lg">
                        <div class="projectCount">MY PROJECTS</div>
                    </a>
                    <a href ng-click="tab = 'skl'" class="btn btn-success btn-circle btn-lg">
                        <div class="projectCount">MY SKILL</div>
                    </a>

                    <div class="clearfix">&nbsp;</div>
                    <p>
                        My name is Md Sazzad Islam. I have three years experience in Software development and I have a Master
                        degree on Software Development from Coventry University, England.
                    </p>

                    <p>
                        I am a skilled java developer with proven expertise in using new tools and technical developments to drive improvements throughout a entire software development
                        lifecycle. Having extensive industry and full life cycle experience in a java based environment, along with good analytical, design and problem-solving
                        capabilities. Excellent communication skills and able to work alongside support
                        teams and the java community to define and refine new functionality.



                    </p>
                    <p>
                        Looking for a ambitious company which will challenge my developer and problem solving skills and allow me to continue to develop my knowledge and potential.

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>