<div class="grayBG">
    <div class="container myFeature">
        <div class="row">
            <div class="col-lg-6">
                <img src="img/01.jpg" class="my-img img-circle pull-right">
            </div>
            <div class="col-lg-6">
                <div class="featureBtn">
                    <h1>Hello</h1>
                    <h5>a bit about me:</h5>

                    <a href ng-click="tab = 'exp'" class="btn btn-danger btn-circle btn-lg">
                        <div class="projectCount">MY EXPERIENCE</div>
                    </a>
                    <a href ng-click="tab = 'proj'" class="btn btn-info btn-circle btn-lg">
                        <div class="projectCount">MY PROJECTS</div>
                    </a>
                    <a href ng-click="tab = 'skl'" class="btn btn-success btn-circle btn-lg">
                        <div class="projectCount">MY SKILL</div>
                    </a>

                    <div class="clearfix">&nbsp;</div>
                    <p>
                        My name is Md Sazzad Islam, and I’m a 25 years old Software Engineer. Everyone calls me Sazzad,
                        Some of friends know me as LynAs
                    </p>

                    <p>
                        I spend my work days writing Java code or doing tech support, and spare time playing computer or
                        console games. I live in Dhaka, Bangladesh and am the System Architect of a small but expanding
                        software company called <a href="http://www.springine.com/" target="_blank">Springine</a>.
                    </p>
                    <p>
                        My preferred programming language is java but i am open to any programming language. Most of the
                        time I work on JAVA web application with Spring and JSF. For scripting I use Jquery and
                        Angular JS.

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>