<div class="grayBG">
    <div class="container myFeature">
        <div class="row">
            <div class="col-lg-6">
                <div class="titleCon">CONTACT</div>
                <div>
                    <div>
                        <a href="https://www.facebook.com/sazzadislam"><img src="img/logoFB.png"></a>
                        <a href="https://twitter.com/szLynAs"><img src="img/logoTW.png"></a>
                        <a href="https://plus.google.com/+LynAsSazzad"><img src="img/logoGp.png"></a>
                    </div>
                    <div>Cell  : +88 01716 881343</div>
                    <div>Email : szlynas@gmail.com</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="featureBtn" style="height: 500px;">
                </div>
            </div>
        </div>
    </div>
</div>
 