<div class="grayBG">
    <div class="container myFeature">
        <div class="row">
            <div class="titleProject"> Experience</div>
            <hr/>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="btn-danger btn-circle btn-lg">
                    <div class="projectCount">Experience</div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="featureBtn">
                    <div class="row">
                        <div class="myMessage">
                            <h3>Dynamic Solution Innovators</h3>
                            <h4>Senior Software Engineer</h4>
                            <h4>2015 to Present</h4>
                            <h4>Website : <a href="http://http://www.dsinnovators.com//">DSi</a> </h4>
                            ​In this company I am working on a ERP system. This is a custom J2EE project.
                            While working on this project, I exposed myself on different cloud based system
                            along with J2EE. Mostly I am working on different web services from Aamazon Web
                            Services; namely ec2, beanstack, cloud watch, s3, apigateway, docker e.t.c. I am
                            working here as a part of a large team.

                        </div>
                    </div>
                    <div class="row">
                        <div class="myMessage">
                            <h3>Springine</h3>
                            <h4>Team Lead</h4>
                            <h4>2013 (December) - 2014 September</h4>
                            <h4>Website : <a href="http://www.ebajar.com/">eBajar</a> & <a
                                    href="http://www.springine.com/">Springine</a></h4>
                            ​In this company I am working on a project called eBajar. I am designing both server side
                            and client side component. I am using Spring framework, hibernate, sitemesh and bootstrap.
                            I am using tomcat 7 as the application server and Amazon EC-2 cloud computing is used for
                            hosting our site.
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="myMessage">
                            <h3>Ipaholics</h3>
                            <h4>Software Developer</h4>
                            <h4>May 2012 - November 2013 (Educational leave included)</h4>
                            <h4>Website : <a href="http://www.beshto.com/">Beshto</a></h4>
                            ​I worked here as application developer. I worked on a project called “Beshto”. Project
                            description given <a href ng-click="tab = 'proj'">project page</a>. My job
                            was to develop different functionality required by the company and show them in given
                            format. I worked here as a part of the team. I used MVC and Agile for this application
                            development. I have also worked on amazon ec-2 for hosting the site online.
                        </div>
                    </div>
                    <hr/>
                    <hr/>
                    <div class="row">
                        <div class="myMessage">
                            <h3>East West University</h3>
                            <h4>Teacher</h4>
                            <h4>January 2012 - March 2012</h4>
                            <h4>Website : <a href="http://www.ewubd.edu/">East West University</a></h4>
                            ​I was a volunteer lab teacher for this course. I used to teach students different concept
                            of java and show them practical example of the concepts. Course Include concept of class,
                            inheritance, polymorphism, list, set, vector, multi threading, basic java gui and networking
                            <a href="http://cse412.blogspot.co.uk/">[Link]</a> this
                            website was used to give students course material.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <!--/Part 2 end -->


        <!--/Part 3 start -->
        <div class="row">
            <div class="col-lg-3">
                <div class="btn-danger btn-circle btn-lg">
                    <div class="projectCount">Education</div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="myMessage">
                        <h3>Software Development, MSc (2013)</h3>
                        <h4>Coventry University, Coventry, England</h4>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="myMessage">
                        <h3>Computer Science and Engineering, BSc (2012)</h3>
                        <h4>East West University, Dhaka, Bangladesh</h4>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="myMessage">
                        <h3>Higher Secondary Certificate (2007)</h3>
                        <h4>B A F Shaheen College, Cantonment, Dhaka, Bangladesh</h4>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="myMessage">
                        <h3>Secondary School Certificate (2004)</h3>
                        <h4>Faridpur Zilla School, Faridpur, Bangladesh</h4>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <!--/Part 3 end -->


        <!--/Part 4 start -->
        <div class="row">
            <div class="col-lg-3">
                <div class="btn-danger btn-circle btn-lg">
                    <div class="projectCount">Referee</div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="myMessage">
                        <h3>Mehedi Hasan</h3>
                        Chief Architect<br>
                        Beshto Service<br>
                        mehedi@beshto.com<br>
                        Level – 3 BDBL Bhaban<br>
                        12, Karwan Bazar, Dhaka-1215 www.beshto.com
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="myMessage">
                        <h3>Md.Moddasir Rahman khan</h3>
                        Md.Moddasir Rahman khan<br>
                        bGlobal Interactive<br>
                        e-mail: khan.moddasir@gmail.com<br>
                        de.linkedin.com/in/moddasir/en
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="myMessage">
                        <h3>Dr. Shaikh Muhammad Allayear</h3>
                        Assistant Professor<br>
                        Department of CSE<br>
                        East West University <br>
                        e-mail: dshr@ewubd.edu <br>
                        http://ewubd.edu/ewu
                    </div>
                </div>
            </div>
        </div>
        <!--/Part 4 end -->


    </div>
</div>
